<html>
	<head>
		<title>weather request </title>
	</head>
	<body>
        <h1> select a operation to proceed </h1>

        <form action="/update" method="POST">
            <p>
                <label for="zipcode">zipcode</label>
                <input type="text" name="username">
            </p>
            <p>
                <label for="City">City</label>
                <input type="text" name="City">
            </p>
            <p>
                <label for="State">]State</label>
                <input type="text" name="State">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
	</body>
</html>